<div class="right-panel">
	<div class="navbar secondary-navbar">
		<ul class="nav">
			<li class="icon_button">
				<a href="#" id="caret">
					<div>
						<div class="icon caret-left"></div>
					</div>
				</a>
			</li>
			<li class="divider-vertical"></li>
		</ul>
		<div class="left secondary-nav-text"> <%= @gallery.name %></div>
		<ul class="nav pull-right">
			<li class="divider-vertical"></li>
			<li  class="dropdown icon_button">
				<a href="#" id="add_element" class="dropdown-toggle" data-toggle="dropdown" rel="tooltip" data-original-title="Add Element"><div class="icon add"></div> </a>
				<ul class="dropdown-menu">
					<li><a href="#">Text Element</a></li>
					<li><a href="#">Image Element</a></li>
				</ul>
			</li>   
			<li class="divider-vertical"></li>
			<li class="icon_button">

				<!-- Button to trigger modal -->

				<a data-toggle="modal" href="#myModal">
					<div id="settings" class="" rel="tooltip" data-original-title="Settings" >
						<div class="icon settings"></div>
					</div>
				</a>
			</li>
			<li class="divider-vertical"></li>
			<li class="icon_button">
				<a href="#" class="" rel="tooltip" data-original-title="View Site" >
					<div id="view" class="" >
						<div class="icon view"></div>
					</div>
				</a>
			</li>
			<li class="divider-vertical"></li>
			<li class="icon_button">
				<a href="#" class="" rel="tooltip" rel="tooltip" data-original-title="Save">
					<div id="save" class="" >
						<div class="icon save"></div>
					</div>
				</a>
			</li>
			<li class="divider-vertical"></li>
			<li class="icon_button">
				<a href="#" class="" rel="tooltip" data-original-title="Trash" >
					<div id="trash" class="">
						<div class="icon trash"></div>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<div class="right-inner">
		<ul id="sortable" class="thumb_grid" data-gallery_id="<%= @gallery.id %>" data-update-url= "<%= sort_admin_site_images_path %>">
			<% @gallery.images.each do |image| %>
			<li id="image_<%= image.id %>" class="drop_allowed"><div class="thumbnail"><%= image_tag image.image_file_url(:thumb).to_s %><%= link_to 'Edit', edit_admin_site_image_path(@site, image) %></div></li>
			<% end %>
		</ul>
	</div>
</div>