<p id="notice"><%= notice %></p>

<%= render 'upload' %>

<ul>
<% @gallery.images.each do |image| %>
	<li><%= image_tag image.image_file_url(:thumb).to_s %><%= link_to image.name, edit_site_image_path(@site, image) %></li>
<% end %>
</ul>
<%= link_to 'Edit', edit_site_gallery_path(@site, @gallery) %> |
<%= link_to 'Back', site_galleries_path %>
