<p id="notice"><%= notice %></p>

<div id="upload_tracker">Upload tracker text</div>

	<div id="content" class="content">

		<%= render 'left_panel' %>
		<%= render 'right_panel' %>

		<%= link_to 'Edit', edit_site_gallery_path(@site, @gallery) %> |
		<%= link_to 'Back', site_galleries_path %>

</div>